extends layout
block content

  #field

    .message 
      .top-row
        span Level
        span.nextLevNum
      .bottom-row Click anywhere to continue
    
    .bank.top
    .bank.right
    .bank.bottom
    .bank.left

    #scoreboard

      span.label Level:
      span.levNum 0
      br
      span.label Balls:
      span.ballNum 0
      span.ballTot
      br
      span.label Score:
      span.score 0

    #player
      .center

    #healthbar
      .globe.empty
      .globe.empty
      .globe.empty
      .globe.empty