
extends layout

block content

  .cage
  
    .instructions
      p Use your cursor to deflect the colored balls toward their matching colored bank.
    
    #field
      .vertical-center
        .message
          .top-row
            span Level
            span.nextLevNum
          .bottom-row Click anywhere to continue

      .bank.top
      .bank.right
      .bank.bottom
      .bank.left

      #scoreboard
        span.label Level:
        span.levNum 0
        br
        span.label Balls:
        span.ballNum 0
        span.ballTot
        br
        span.label Score:
        span.score 0

      #player.hidden
        .center

      #healthbar
        .globe.empty
        .globe.empty
        .globe.empty
        .globe.empty
