
audio(id="sfx-beep-1")
  source(src="/sounds/beep-deep-1.wav" type="audio/wav")
audio(id="sfx-beep-2")
  source(src="/sounds/beep-deep-2.wav" type="audio/wav")
audio(id="sfx-beep-3")
  source(src="/sounds/beep-deep-1.wav" type="audio/wav")
audio(id="sfx-beep-4")
  source(src="/sounds/beep-deep-2.wav" type="audio/wav")
audio(id="sfx-beep-5")
  source(src="/sounds/beep-deep-1.wav" type="audio/wav")
audio(id="sfx-beep-high-1")
  source(src="/sounds/beep-high.wav" type="audio/wav")
audio(id="sfx-beep-high-2")
  source(src="/sounds/beep-high.wav" type="audio/wav")
audio(id="sfx-beep-high-3")
  source(src="/sounds/beep-high.wav" type="audio/wav")
audio(id="sfx-beep-high-4")
  source(src="/sounds/beep-high.wav" type="audio/wav")
audio(id="sfx-beep-high-5")
  source(src="/sounds/beep-high.wav" type="audio/wav")
