
html
  height 600px
  width 600px
  background-color #FFF
  font-family 'Roboto', sans-serif
body
  height 100%
  width 100%
  margin 0
  padding 0

/**
 * Field
 */

#field
  position relative
  overflow hidden
  z-index 0
#field:hover
  cursor none

/**
 * Player message
 */

div.message
  position absolute
  top 39%
  left 35%
  color #052429
  z-index 0
  -webkit-transition display 1s linear
  -moz-transition display 1s linear
  -o-transition display 1s linear
  transition display 1s linear
div.message.hide
  display none
div.message div.top-row
  text-align center
  font-size 3em
div.message div.bottom-row
  text-align center
  font-size 1em
div.message span.nextLevNum
  padding-left 0.4em

/**
 * Scoreboard
 */

#scoreboard
  position absolute
  top 30px
  left 35px
  color #3C6678
  font-size 1.6em
  opacity 0.3
  z-index -5
#scoreboard span.label
  padding-right 5px

/**
 * Banks
 */

div.bank
  position absolute
  background-color #CCC
div.bank.top, div.bank.bottom
  height 20px
  width 100%
  z-index 10
div.bank.left, div.bank.right
  height 100%
  width 20px
  z-index 9
div.bank.top
  background-color #FFC000
  top 0
div.bank.right
  background-color #74A7C6
  right 0
div.bank.bottom
  background-color #59A41A
  bottom 0
div.bank.left
  background-color #A55500
  left 0

/**
 * Player
 */

#player
  display none
  position absolute
  top 0
  left 0
  background-color #052429
  z-index 0
  -webkit-transition-property all 50ms ease
  -moz-transition-property all 50ms ease
  -o-transition-property all 50ms ease
  transition-property all 50ms ease
#player.opac80
  opacity 0.95
  -webkit-transform scale(1.05, 1.05)
  -moz-transform scale(1.05, 1.05)
  -o-transform scale(1.05, 1.05)
  transform scale(1.05, 1.05)
#player .center
  position absolute
  top 5px
  left 5px
  height 40px
  width 40px
  border-radius 20px
  color #FFF
  background-color #052429
  text-align center
  font-size 24px
  line-height 40px
  vertical-align middle
  z-index 1
  font-family monospace

/**
 * Health
 */

#healthbar
  position absolute
  bottom 30px
  left 30px
  height 26px
  width 100px
  z-index -1
  text-align left
#healthbar .globe
  display inline-block
  height 19px
  width 19px
  margin 2px
  border 1px solid #000
  border-radius 10px
#healthbar .globe.full
  background-color #052429
#healthbar .globe.empty
  background-color #FFF
  opacity 0.5

/**
 * Ball
 */

div.ball-anchor
  position absolute
  height 1px
  width 1px
  top 0px
  right 0px
  bottom 0px
  left 0px
  z-index 100
div.balloon
  position absolute
  opacity 1
  -webkit-transition all 400ms ease
  -moz-transition all 400ms ease
  -o-transition all 400ms ease
  transition all 400ms ease
div.balloon.bank0
  background-color #FFC000
div.balloon.bank1
  background-color #74A7C6
div.balloon.bank2
  background-color #59A41A
div.balloon.bank3
  background-color #A55500

div.balloon.subtle
  opacity 0.25
div.balloon.fadeOut
  opacity 0
div.balloon.explode
  opacity 1
  -webkit-transform scale(1.5, 1.5)
  -moz-transform scale(1.5, 1.5)
  -o-transform scale(1.5, 1.5)
  transform scale(1.5, 1.5)

/**
 * BallExplosion
 */

div.explosion
  position absolute
  background-image url('../images/explosion-sprite.png')
  background-position-x -20px
  background-position-y -20px
